@using Dominio
@model List<Resena>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-10">
            <h1>Tus reseñas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10">
            @if (ViewBag.mensaje != null)
            {
                <div class="alert alert-warning">
                    <div>
                        @ViewBag.Mensaje
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10">
            <a href="~/Resena/CrearResena" class="btn btn-info">Crear reseña</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Partido</th>
                        <th>Título</th>
                        <th>Ver contenido</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Resena r in Model)
                    {
                        <tr>
                            <td>@r.Id</td>
                            <td>@r.Fecha.ToShortDateString()</td>
                            <td>

                                <a class="btn btn-link" href="~/Partido/Partido/@r.Partido.Id">
                                    <span>@r.Partido.TituloToString()</span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-info p-1" href="~/Resena/Resena/@r.Id">
                                    <i class="fas fa-info"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


