:root {
    --color1: rgb(27, 36, 48);
    --color2: rgb(148, 148, 148);
    --color3: rgb(129, 103, 152);
    --color4: rgb(236, 236, 236);
    --border-radius: 0.25rem;
}
/********************/
/*Clases de utilidad*/
/********************/
.max-width-1400 {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    margin: 0.2rem;
    padding: 0.5rem;
}
.card .card-img-top {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    max-width: 10rem;
}
.section {
    background-color: var(--color4);
    min-height: 500px;
}
.section .container {
    padding: 4rem 2rem;
}
.section .container .row {
    margin: 0 auto;
    flex-wrap: wrap;
}
.section .content {
    display: flex;
    justify-content: center;
    padding: 2rem 4rem;
}
.titles {
    text-align: center;
}
.ch, .button {
    border-radius: var(--border-radius);
}
.ch {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 100%;
    height: 12rem;
}
.button {
    padding: 0.8rem 1.8rem;
    background-color: lightgray;
    border: none;
    font-weight: bold;
    font-size: 15px;
}
/********************/
/*CSS especifico*/
/********************/
* {
    font-family: 'sans-serif', monospace;
    box-sizing: border-box;
}
body {
    background-color: var(--color1);
    margin: 0;
    background: rgba(129, 103, 152, 0.4); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(81, 85, 126, 0.4), rgba(129, 103, 152, 0.4)), url('../images/bar-bk-tiny.jpg') no-repeat center center fixed; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(81, 85, 126, 0.4), rgba(129, 103, 152, 0.4)), url('../images/bar-bk-tiny.jpg') no-repeat center center fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px -5px 5px 0px rgba(42, 42, 42, 0.75), inset 0 0 25px 1px rgba(0, 0, 0, 0.75);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Header section*/
header {
    min-height: 600px;
}
header .container {
    padding: 6rem 4rem;
    background-color: transparent;
}
header .container .row {
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
}
 header .container .row:nth-child(2) {
    justify-content: center;
}
header .container .row:nth-child(2) .welcome-msg {
    max-width: 600px;
    margin: 4rem 0;
    text-align: center;
}
header .container .row:nth-child(2) .welcome-msg .welcome-msg-title {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
}
header .container .row:nth-child(2) .welcome-msg .welcome-msg-description {
    color: white;
}
header .container .brand {
    max-width: 16rem;
}
header .container .brand .brand-img {
    width: 100%;
}
header .container .navbar .navbar-nav {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    min-width: 650px;
    justify-content: space-between;
    padding: 0;
}
.navbar .navbar-nav .nav-item .nav-link {
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--color4);
    text-shadow: 0.2rem 0.2rem 0.1rem black;
    text-decoration: none;
}
.section-two {
    background-color: var(--color2);
    min-height: 500px;
}
.section-two .content .row:first-child {
    flex-wrap: nowrap;
}
.section-one .news-container .row .media-left,
.section-one .news-container .row .media-right {
    display: block;
}
.section-two .row .col {
    padding: 0.5rem;
}
.media-left .card .card-header {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-content: center;
    width: 100%;
}
.media-left .card .card-header .ch {
    background-image: url('../images/nuevos-tragos-tiny.jpg');
}
.media-right .card .card-header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12rem;
    height: 12rem;
    grid-gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.media-right .card .card-header .ch {
    background-image: url('../images/nuevos-tragos-tiny.jpg');
}
.media-right .card .card-header .header-right {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}
.media-right .card .card-header .header-right .ch-2 {
    grid-row-start: 1;
    height: 5.5rem;
}
.media-right .card .card-header .header-right .ch-3 {
    grid-row-start: 2;
    height: 5.5rem;
}
.section-two .content .card .ch-1 {
    background-image: url('../images/nuevos-tragos-tiny.jpg');
}