@using Dominio
@using Microsoft.AspNetCore.Http;
<div class="text-center">
    @if (Context.Session.GetString("Nombre") != null)
    {
        <h1 class="display-4">¡Bienvenido @Context.Session.GetString("Nombre")!</h1>
        <p>Accede a toda la información del mundial desde el menú de navegación.</p>
    }
    else
    {
        <h4 class="my-5">
            Para acceder al sistema debes <a href="~/Login/Index">ingresar con tu usuario</a>.
        </h4>
    }

</div>
