
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Index de Parámetros</h2>
<a href="/parametros/ProbarParametro/54?id=72">Probar</a>
<br />
<a href="/parametros/ProbarParametroConOtroNombre?edad=27">Probar 2</a>

<br />
<br />
<br />
<span style="font-size:21px;font-weight:bold;color:lightblue;letter-spacing:2px;">@ViewBag.Mensaje01</span>
<br />
<span style="font-size:21px;font-weight:bold;color:lightgreen;letter-spacing:2px;">@ViewBag.Mensaje02</span>
